/* styles.css */

/* Задаем цвет фона и заголовков */
body {
    background-color: #100c30;
    color: #94babb; /* Цвет текста по умолчанию */
}

h1 {
    color: #c5a6ee; /* Цвет заголовков h1 */
}

h2 {
    color: #ebb1f0; /* Цвет заголовков h2 */
}

h3 {
    color: #4b7d8b; /* Цвет заголовков h3 */
}

/* ... и так далее для других заголовков */

/* ... можно добавить стили для других элементов страницы */
p {
    font-family: "Georgia", Times, serif;
    font-weight: bold;
    font-size: 40px;
}